<section id="festivites" class="section">
	<div class="inner container">
		<div class="col-md-7">
			<p id="festivites_font">Festivites</p>
			<p class="event_font">the happy couple will say “i do” with their toes in the sand surrounded by their dearest friends and family. The ceremony will be on a beach near kukahiko estate in kihei, hawaii on the eleventh of november twenty sixteen at five o’clock in the evening.</p>
			<br>
			<p class="event_font">please park at the estate and a shuttle will 
			promptly take you to the ceremony site. 
			fabulous food, fun and festivities will 
			take place immediately following the ceremony!</p>
		</div>
	</div>
</section>