<section id="love_poem" class="section">
	<div class="inner container">
		<div id="love_pink">
			<div id="love_content">
				<p><span class="fa fa-quote-left fa-pull-left"></span>i love you neither<br>with my heart<br>nor with my mind.<br>my heart might<br>stop.<br>my mind might<br>forget.<br>i love you with my<br>soul because<br>my soul never<br>stops or forgets.<span class="fa fa-quote-right fa-pull-right"></span></p>
				<div id="love_author"><p class="text-right">-rumi</p></div>
			</div>
		</div>
	</div>
</section>