<!-- Banner-->
<section id="sun_poem" class="section">
	<div class="inner container">
		<p id="sp_1" class="sp-neo">TAKE A <span class="sp-jg">Vacation</span></p>
		<p id="sp_3" class="sp-neo">SOAK IN THE <span class="sp-jg">Sun</span></p>
		<p id="sp_4"class="sp-jg">Relax <span class="sp-neo">ON THE </span>Beach</p>
		<p id="sp_5" class="sp-jg">Swim <span class="sp-neo">AND HAVE</span> Fun</p>
		<p id="sp_6" class="sp-neo">SO PLEASE <span class="sp-jg">Save Our Date</span></p>
		<p id="sp_7"class="sp-neo">AND WE CAN ALL <span class="sp-jg">Celebrate!</span></p>
		<p id="sp_8" class="sp-neo">FLY SOUTH TO THE <span class="sp-jg">Breathtaking Maui</span></p>
		<p id="sp_9" class="sp-neo">FOR THE UNION OF <span class="sp-jg">Andy & Ally</span></p>
	</div>
</section>