<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width">
			<!-- Custom CSS -->
		<link rel="stylesheet" href="/assets/css/main.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
	</head>
	<body>
		<div id="fullpage">
			{{ content }}
		</div>
		{% include footer.html %}
	</body>
</html>
